---
import { SITE } from 'astrowind:config';
---

<span class="ml-2 flex flex-col leading-tight rtl:ml-0 rtl:mr-2">
  <span class="text-2xl font-bold text-gray-900 dark:text-white md:text-xl">{SITE?.name}</span>
  <span class="text-[0.7rem] font-semibold text-secondary dark:text-teal-200 md:text-[0.65rem]">
    Unlock Maths with an Expert
  </span>
</span>
